body{
  background-color: rgb(181, 199, 203); 
}

h1 {
  border-radius: 8px;
  font-family: 'Kosugi Maru', 'Meiryo', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-bottom: 1rem;
  color: #fdfdfd;
  text-shadow: 
     2px  2px 0 #363333;
}

ul{
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

h3 {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #01546b;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
p{
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  color: #555;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1rem;
  justify-content: center;
}

.country-card,
.city-card{
  color: #0b242d;
  background: #fff8d3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  transition: transform 0.2s;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.country-card:hover {
  transform: translateY(-8px);
  background: #ebe7a4;
  cursor: pointer;
}

.country-card:hover h3{
  color: #27b3ff;
}
